asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
Django==4.1.13
django-allauth==0.61.1
django-appconf==1.0.6
django-compressor==4.4
django-environ==0.11.2
exceptiongroup==1.2.0
idna==3.7
iniconfig==2.0.0
oauthlib==3.2.2
packaging==24.0
pillow==10.3.0
pluggy==1.4.0
psycopg2==2.9.9
pycparser==2.21
PyJWT==2.8.0
pytest==8.1.1
pytest-django==4.8.0
python3-openid==3.2.0
rcssmin==1.1.1
requests==2.31.0
requests-oauthlib==1.4.0
rjsmin==1.2.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
